@import "tailwindcss";

/*Fonts*/
@import url("https://fonts.googleapis.com/css?family=Sora");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

@theme {
  --font-sora: "Sora", sans-serif;
  --font-notosans: "Noto Sans", sans-serif;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@theme {
  --color-brand-red: #e94235;
  --color-brand-yellow: #fff8e2;

  --animate-rotate-border: border-rotate 3s linear infinite;

  @keyframes border-rotate {
    to {
      --border-angle: 360deg;
    }
  }
}
